img{
    width: 100%;
}

.conteiner{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.logo{
    width: 20%;
    margin: auto;
    padding-top: 2%;
    cursor: pointer;
    padding-bottom: 5%;
}

/* switch-supermario*/

.switch-supermario{
    width: 385px;
    height: 385px;
    background: #778898;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.switch-supermario input {
    position: absolute;
}

.SP{
    position: absolute;
    left: 0%;
    transition: 0.5s;
}

input:checked + .toggleSp .SP{
    left: -46%;
    transition: 0.5s;
}

input:checked + .toggleSp{
    background: #3AB6F5;
}

.toggleSp{
    display: block;
    margin-bottom: 20px;
    position: relative;
    width: 280px;
    height: 140px;
    -webkit-appearance: none;
    background: #9CA8F7;
    outline: none;
    border-radius: 120px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    overflow: hidden;
    /*box-shadow:1.125em 1.125em 0 1.125em rgba(0,0,0,0.3) inset*/
    transition: 0.5s;
}

input:checked + .toggleSp .toggle__handlerSP { /*para que se mueva el circulo */
    background-color: white;
    left: 50%;
    /*transform: translate3d(40px, 0, 0) rotate(0);*/
}

.toggle__handlerSP{
    display: inline-block;
    position: relative;
    cursor: pointer;
    z-index: 1;
    top: 5px;
    left: 8px;
    width: 130px;
    height: 130px;
    background-color: whitesmoke;
    border-radius: 100%;
    box-shadow: 2px 9px 26px rgba(0, 0, 0, 0.3);
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    /* transform: rotate(-45deg); */
    -webkit-appearance: none;
}

.mushroomTopSp{
    position: absolute;
    top: 28px;
    left: 21px;
    width: 89px;
    height: 61px;
    border-radius: 45%;
    background: #00802B;
    overflow: hidden;
}

.floorSp{
    position: absolute;
    top: 128px;
    left: 10px;
    width: 264px;
    height: 20px;
    background: #D64F00;
}

.cloudCircleSp{
    position: absolute;
    top: 10px;
    left: -9px;
    width: 22px;
    height: 18px;
    border-radius: 100%;
    background: white;
}

.cloudCircle1Sp{
    position: absolute;
    top: 7px;
    left: 31px;
    width: 22px;
    height: 18px;
    border-radius: 100%;
    background: white;
}

.cloudSp{
    position: absolute;
    top: 24px;
    left: 113px;
    width: 45px;
    height: 29px;
    border-radius: 37%;
    background: white;
}

.bodySp{
    position: absolute;
    top: 65px;
    left: 179px;
    width: 35px;
    height: 50px;
    border-radius: 37%;
    background: #CD0518;
}

.breastplateSp{
    position: absolute;
    top: 68px;
    left: 185px;
    width: 24px;
    height: 50px;
    border-radius: 37%;
    background: #1F4793;
}

.buttomleftSp{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 5px;
    height: 7px;
    border-radius: 37%;
    background: #E39123;
}

.buttomRightSp{
    position: absolute;
    top: 2px;
    left: 17px;
    width: 5px;
    height: 7px;
    border-radius: 37%;
    background: #E39123;
}

.hatbackSp{
    position: absolute;
    top: 29px;
    left: 176px;
    width: 41px;
    height: 40px;
    border-radius: 37%;
    transform: rotate(45deg);
    background: #CD0518;
}

.hatCircleSp{
    position: absolute;
    top: 3px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 1000%;
    background: #E39123;
}

.hatSp{
    position: absolute;
    top: 37px;
    left: 178px;
    width: 38px;
    height: 27px;
    border-radius: 92%;
    background: rgb(90, 1, 10);
}

.earLeftSp{
    position: absolute;
    top: 55px;
    left: 178px;
    width: 10px;
    height: 10px;
    border-radius: 1000%;
    background: #DBA782;
}

.earRightSp{
    position: absolute;
    top: 55px;
    left: 206px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #DBA782;
}

.faceSp{
    position: absolute;
    top: 43px;
    left: 182px;
    width: 30px;
    height: 30px;
    border-radius: 40%;
    background: #EEC5B2;
}

.hairSp{
    position: absolute;
    top: 44px;
    left: 180px;
    width: 34px;
    height: 22px;
    border-radius: 40%;
    background: black;
}

.eyeLeftSp{
    position: absolute;
    top: 5px;
    left: 6px;
    width: 6px;
    height: 8px;
    border-radius: 100%;
    background: black;
}

.eyesLeftLightSp{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 2px;
    height: 2px;
    border-radius: 100%;
    background: white;
}

.eyeRightSp{
    position: absolute;
    top: 5px;
    left: 19px;
    width: 6px;
    height: 8px;
    border-radius: 100%;
    background: black;
}

.eyesRightLightSp{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 2px;
    height: 2px;
    border-radius: 100%;
    background: white;
}

.noseSp{
    position: absolute;
    top: 13px;
    left: 9px;
    width: 12px;
    height: 9px;
    border-radius: 100%;
    background: #DBA782;
}

.moustacheSp{
    position: absolute;
    top: 20px;
    left: 5px;
    width: 21px;
    height: 4px;
    border-radius: 44%;
    background: black;
}

.tubeDown{
    position: absolute;
    top: 87px;
    left: 177px;
    width: 40px;
    height: 41px;
    background: #34A62E;
}

.tubeDownLight{
    position: absolute;
    top: 0;
    left: 24px;
    width: 10px;
    height: 41px;
    background: #82CD0F;
}

.tubeDownWhite{
    position: absolute;
    top: 4px;
    left: 6px;
    width: 2px;
    height: 35px;
    background: white;
}

.tubeUp{
    position: absolute;
    top: 80px;
    left: 172px;
    width: 50px;
    height: 10px;
    background: #34A62E;
}

.tubeUpLight{
    position: absolute;
    top: 0;
    left: 35px;
    width: 10px;
    height: 10px;
    background: #82CD0F;
}

.tubeUpWhite{
    position: absolute;
    top: 3px;
    left: 6px;
    width: 2px;
    height: 5px;
    background: white;
}



/*Prueba switch luna-sol   https://fribly.com/2016/03/27/pure-css-day-night-toggle/ */
.toggleWrapper{
    width: 385px;
    height: 385px;
    background: #D8D8D8;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*LETRAS*/


input:checked + .toggle::after {
    color: #ffffff;
}
.toggle::after {
    content: 'PM';
    position: absolute;
    right: -48px;
    top: 15px;
    font-size: 18px;
    color: #749ED7;
}
input:checked + .toggle::before {
    color: #749ED7;
}
.toggle::before {
    content: 'AM';
    position: absolute;
    left: -50px;
    top: 15px;
    font-size: 18px;
}

input:checked + .toggle {
    background-color: #749DD6;
}

/*Incluido el .toggle es todo lo de las letras--falta entender mejor--*/

.toggle {
    font-family: 'Helvetica Rounded', 'Arial Rounded MT Bold','Montserrat', sans-serif;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 90px;
    height: 50px;
    background-color: #83D8FF;
    border-radius: 84px;
    transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggleWrapper input {
    position: absolute;
    /*left: -99em;*/
}


input:checked + .toggle {  /*y cambie el color del ovalo*/
    background-color: #749DD6;
}

input:checked + .toggle .toggle__handler { /*para que se mueva el circulo */
    background-color: #FFE5B5;
    left: 48%;
    /*transform: translate3d(40px, 0, 0) rotate(0);*/
}

.toggle__handler {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 3px;
    left: 3px;
    width: 44px;
    height: 44px;
    background-color: #FFCF96;
    border-radius: 50px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    /*transform: rotate(-45deg);*/
    -webkit-appearance: none;
}

.star {
    position: absolute;
    background-color: #ffffff;
    transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-radius: 50%;
}

.star--1 { /*clouds*/
    top: 10px;
    left: 35px;
    z-index: 0;
    width: 30px;
    height: 3px;
}

.star--2 { /*clouds*/
    top: 18px;
    left: 28px;
    z-index: 1;
    width: 30px;
    height: 3px;
}

.star--3 { /*clouds*/
    top: 27px;
    left: 40px;
    z-index: 0;
    width: 30px;
    height: 3px;
}


/*stars*/

input:checked + .toggle .star--1 {
    width: 2px;
    height: 2px;
}

input:checked + .toggle .star--2 {
    width: 4px;
    height: 4px;
    transform: translate3d(-5px, 0, 0);
}

input:checked + .toggle .star--3 {
    width: 2px;
    height: 2px;
    transform: translate3d(-7px, 0, 0);
}

.star--4 {
    top: 16px;
    left: 11px;
    z-index: 0;
    width: 2px;
    height: 2px;
}

input:checked + .toggle .star--4 {
    transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.star--5 {
    top: 32px;
    left: 17px;
    z-index: 0;
    width: 3px;
    height: 3px;
}

input:checked + .toggle .star--5 {
    transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.star--6 {
    top: 36px;
    left: 28px;
    z-index: 0;
    width: 2px;
    height: 2px;
}

input:checked + .toggle .star--6 {
    transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/* crater*/
input:checked + .toggle .toggle__handler .crater {
    opacity: 1;
}

.toggle__handler .crater {
    position: absolute;
    background-color: #E8CDA5;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    border-radius: 100%;
}

.toggle__handler .crater--1 {
    top: 18px;
    left: 10px;
    width: 4px;
    height: 4px;
}

.toggle__handler .crater--2 {
    top: 28px;
    left: 22px;
    width: 6px;
    height: 6px;
}

.toggle__handler .crater--3 {
    top: 10px;
    left: 25px;
    width: 8px;
    height: 8px;
}

/* button-switch1 */

.button-switch1{
    width: 385px;
    height: 385px;
    background: #424b54;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circlecheck1{ /*forma ovalada del fondo y posicion en el cuadrado*/
    display: block;
    margin-bottom: 20px;
    position: relative;
    width: 280px;
    height: 140px;
    -webkit-appearance: none;
    background: #7d8995;
    outline: none;
    border-radius: 120px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    /*box-shadow:1.125em 1.125em 0 1.125em rgba(0,0,0,0.3) inset*/
    transition: 0.5s;
}

.circlecheck1:checked{  /*cambia el color del ovalo cuando esta chequeado*/
    background: #E54594;
}

.circlecheck1:before{ /*circulo*/
    content: '';
    position: absolute;
    width:140px;
    height:140px;
    left: 0;
    top:0;
    background: #fff;
    border-radius: 100%;
    transform:scale(1.1);
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: 0.5s;
}

.circlecheck1:checked:before{
    left: 50%;
}



/* button-switch */

.button-switch {
    width: 385px;
    height: 385px;
    /*margin-top: 15px;*/
    background:  #D8D8D8;  
    position: relative; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 25px;
    padding-left: 20px;
    font-family: Roboto, sans-serif;
    color: #E54594;
}

.check{ /* circulo alargado del fondo- el q cambia de color- sirve para los dos switch*/
    display: block;
    margin-bottom: 40px;
    position: relative;
    width: 140px;
    height: 70px;
    -webkit-appearance: none;
  }

  .check1{    /* hasta check1:checked  es la parte de detras y cambia el color*/
    background: #7D8995;
    outline: none;
    border-radius: 60px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: 0.5s;
  }
  .check1:checked{
    background: #E54594;
  }

  .check1:before{  /* circulo*/
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 60px; /* si quitamos border se transforma en un cuadrado*/
    top: 0;
    left: 0;
    transform: scale(1.1);/*esta es la diferencia entre los dos switch- q sea mas grande o menos el circulo blanco*/
    box-shadow: 0 2px 15px rgba(0,0,0,.2);
    background: #fff;
    transition: .5s;
  }


  .check1:checked:before{
    left: 50%;
  }

/* switch 2*/
.check2{  /* parte de detras, circulo alargado */
    background: #7D8995;
    outline: none;
    border-radius: 60px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: 0.5s;
  }

  .check2:checked{ /* circulo alargado cambia de color con click*/
    background: #E54594;
  }

  .check2:before {  /* circulo blanco */
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 60px;
    top: 0;
    left: 0;
    transform: scale(.8);
    box-shadow: 0 2px 15px rgba(0,0,0,.2);
    background: #fff;
    transition: .5s;
  }

  .check2:checked:before {  /* movimiento del circulo */
    left: 50%;
  }
    
   
/*batman-joker*/

.batman-joker{
    width: 385px;
    height: 385px;
    /*margin-top: 15px;*/
    background: grey;  
    position: relative; 
    overflow: hidden;
}

.turn-off{
    position: absolute;
    width: 71px;
    height: 50px;
    background: white;
    top: 18px;
    left: 20px;
    border-radius: 19%;
    padding: 1%;
    cursor: pointer;
}

.turn-off:hover{
    background: #FAA502;
}

/* .arrow{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 19px solid #000;
    top: 20px;
    left: 22px;
    transform: rotate(-48deg);
}

.arrow1{
    position: absolute;
    width: 8px;
    height: 14px;
    background: #000;
    top: 31px;
    left: 36px;
    transform: rotate(-48deg);
}

.circle1{
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid grey;
    top: 13px;
    left: 14px;
    border-radius: 100%;
}

.circle2{
    position: absolute;
    width: 26px;
    height: 26px;
    border: 3px solid grey;
    top: 9px;
    left: 10px;
    border-radius: 100%;
} */

.text-click{
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    color: red;
    margin: 0;
    padding-top: 6%;
}


.lamps{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 52px solid #000;
    top: 0;
    left: 138px;
}

.light-ball{
    position: absolute;
    width: 40px;
    height: 40px;
    background: #333;
    top: 29px;
    left: 175px;
    border-radius: 100%;
}

.light-ball--on {
    background: radial-gradient(white, yellow);
}

.dark-curtain{
    width: 385px;
    height: 385px;
    background: #000;  
    position: absolute; 
    opacity: 0.9;
}




.light-reflections{
    width: 401px;
    height: 413px;
    background: transparent;
    position: absolute;
    top: 86px;
    left: -7px;
    opacity: 0.2;
    transform: rotate(45deg);
}


.batman-face{
    position: absolute;
    width: 150px;
    height: 200px;
    background: #000;
    top: 148px;
    left: 189px;
}

.bat-nose{
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 41px solid grey;
    border-right: 15px solid transparent;
    left: 74px;
    top: 69px;
    opacity: 0.4;
}

.bat-body-left {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 73px solid #000;
    border-left: 264px solid transparent;
    top: 313px;
    left: 1px;
}

.bat-body-right {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 73px solid #000;
    border-right: 264px solid transparent;
    top: 313px;
    left: 264px;
}

.bat-face1{
    position: absolute;
    border-top: 81px solid #F1AA95;
    border-left: 37px solid transparent;
    border-right: 37px solid transparent;
    height: 0px;
    width: 52px;
    top: 121px;
    left: 13px;    
}

.bat-face-shadow{
    position: absolute;
    width: 70px;
    height: 81px;
    background: #000;
    top: -81px;
    left: 23px;
    opacity: 0.1;

}
.bat-mouth{
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 12px solid #000;
    border-left: 39px solid transparent;
    top: 140px;
    left: 55px;
}

.bat-eye-left{
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 12px solid white;
    border-left: 36px solid transparent;
    top: 53px;
    left: 87px;
}

.bat-eye-right{
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 12px solid white;
    border-right: 36px solid transparent;
    top: 53px;
    left: 27px;
}

.batman-circle-face{
    position: absolute;
    width: 150px;
    height: 150px;
    background: #000;
    top: 120px;
    left: 189px;
    border-radius: 100%;
}

.batman-circle-face-light{
    position: absolute;
    width: 150px;
    height: 150px;
    background: #333333;
    top: 114px;
    left: 189px;
    border-radius: 100%;
}

.batman-circle-face-light--on{
    background: #FFFF90;
}

.batman-ear-left {
    position: absolute;
	width: 0;
	height: 0;
	border-bottom: 72px solid #000;
    border-right: 52px solid transparent;
    top: 78px;
    left: 189px;
}

.batman-ear-left-light {
    position: absolute;
	width: 0;
	height: 0;
	border-bottom: 72px solid #333333;
    border-right: 52px solid transparent;
    top: 72px;
    left: 189px;
}

.batman-ear-left-light--on {
    border-bottom: 72px solid  #FFFF90;
}

.batman-ear-right-light {
    position: absolute;
	width: 0;
	height: 0;
	border-bottom: 72px solid #333333;
    border-left: 52px solid transparent;
    top: 72px;
    left: 287px;
}

.batman-ear-right-light--on {
    border-bottom: 72px solid  #FFFF90;
}

.batman-ear-circle-left{
    position: absolute;
    width: 20px;
    height: 47px;
    background: #000;
    top: 226px;
    left: 179px;
    border-radius: 100%;
}

.batman-ear-circle-right{
    position: absolute;
    width: 20px;
    height: 47px;
    background: #000;
    top: 226px;
    left: 329px;
    border-radius: 100%;
}

.batman-ear-right{
    position: absolute;
	width: 0;
	height: 0;
	border-bottom: 72px solid #000;
    border-left: 52px solid transparent;
    top: 78px;
    left: 287px;
}
				

.joker-face{
    position: absolute;
    width: 80px;
    height: 100px;
    background: white;
    top: 164px;
    left: 59px;
    border-radius: 27%;
    overflow: hidden;
}

.joker-face-shadow{
    position: absolute;
    width: 80px;
    height: 100px;
    background: grey;
    top: 6px;
    left: 39px;
    opacity: 0.3;
}

.joker-neck{
    position: absolute;
    width: 50px;
    height: 10px;
    background: #D8D8D8;
    top: 264px;
    left: 73px;
    border-radius: 16%;
}

.joker-mouth{
    position: absolute;
    top: 232px;
    left: 85px;
    width: 31px;
    height: 17px;
    border-radius: 0 0 100px 100px;
    background: #E2D4A7;
}

.joker-lips{
    position: absolute;
    top: 229px;
    left: 81px;
    width: 39px;
    height: 24px;
    border-radius: 0 0 100px 100px;
    background: red;
}

.joker-eyerbrow-left{
    position: absolute;
    width: 6px;
    height: 20px;
    background: #237634;
    top: 187px;
    left: 83px;
    transform: rotate(-74deg);
}

.joker-eyerbrow-right{
    position: absolute;
    width: 6px;
    height: 20px;
    background: #237634;
    top: 187px;
    left: 112px;
    transform: rotate(74deg);
}

.joker-eyebag-left{
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background: grey;
    top: 202px;
    left: 76px;
}

.joker-eyebag-right{
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background: grey;
    top: 202px;
    left: 108px;
}

.joker-eye-left{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #000;
    top: 200px;
    left: 109px;
}

.joker-eye-right{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #000;
    top: 200px;
    left: 78px;
}

.joker-eyelight-left{
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: white;
    top: 202px;
    left: 115px;
}

.joker-eyelight-right{
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: white;
    top: 202px;
    left: 81px;
}


.joker-hair-back{
    position: absolute;
    width: 110px;
    height: 117px;
    background: #237634;
    top: 131px;
    left: 43px;
    border-radius: 10%;
}

.joker-hair-back-light{
    position: absolute;
    width: 110px;
    height: 117px;
    background: #9ADEB5;
    top: 127px;
    left: 43px;
    border-radius: 10%;
}

.joker-hair-back-light--on{
    background: #FFFF90;
}

.joker-hair-circle{
    position: absolute;
    width: 40px;
    height: 45px;
    background: #237634;
    top: 142px;
    left: 77px;
    border-radius: 100%;
}

.joker-hair-circle-light{
    position: absolute;
    width: 49px;
    height: 49px;
    background: #9ADEB5;
    top: 142px;
    left: 77px;
    border-radius: 100%;
}

.joker-hair-triangle{
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 55px solid #237634;
    border-right: 44px solid transparent;
    left: 81px;
    top: 108px;
}

/* .joker-hair-triangle-1{
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 42px solid #9ADEB5;
    border-right: 44px solid transparent;
    left: 28px;
    top: 122px;
    transform: rotate(-30deg);
}

.joker-hair-triangle-2{
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 22px solid rgb(1, 167, 67);
    border-right: 55px solid transparent;
    left: 126px;
    top: 170px;
    transform: rotate(-50deg);
} */

.joker-hair-square-left{
    position: absolute;
    width: 40px;
    height: 64px;
    background: #237634;
    top: 145px;
    left: 40px;
    transform: rotate(50deg);
}

.jocker-ear-left{
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    top: 205px;
    left: 48px;
    border-radius: 100%;
}

.joker-hair-square-right{
    position: absolute;
    width: 40px;
    height: 64px;
    background: #237634;
    top: 145px;
    left: 117px;
    transform: rotate(-50deg);
}

.jocker-ear-right{
    position: absolute;
    width: 20px;
    height: 20px;
    background: #D8D8D8;
    top: 205px;
    left: 129px;
    border-radius: 100%;
}

.joker-body{
    position: absolute;
    width: 140px;
    height: 120px;
    background: #501FA8;
    top: 272px;
    left: 27px;
    border-radius: 10%;
    overflow: hidden;
}

.joker-shirt{
    position: absolute;
    width: 71px;
    height: 80px;
    background: #FAA502;
    top: 272px;
    left: 62px;
}

.joker-tip{
    position: absolute;
    width: 20px;
    height: 20px;
    background: #501FA8;
    top: 276px;
    left: 89px;
    transform: rotate(45deg);
}

.joker-tip-light{
    position: absolute;
    width: 4px;
    height: 12px;
    background: white;
    opacity: 0.2;
    top: 274px;
    left: 94px;
    transform: rotate(45deg);
}

.joker-tip1{
    position: absolute;
    width: 20px;
    height: 70px;
    background: #501FA8;
    top: 291px;
    left: 89px;
}

.joker-tip1-light{
    position: absolute;
    width: 6px;
    height: 60px;
    background: white;
    opacity: 0.2;
    top: 293px;
    left: 92px;
}

.joker-lapel-left{
    position: absolute;
    width: 0;
    height: 0;
    border-top: 51px solid transparent;
    border-right: 27px solid rgb(113, 86, 163);
    border-bottom: 74px solid transparent;
    top: 272px;
    left: 48px;
    transform: rotate(-12deg);
}

.joker-lapel-right{
    position: absolute;
    width: 0;
    height: 0;
    border-top: 51px solid transparent;
    border-left: 27px solid rgb(113, 86, 163);
    border-bottom: 74px solid transparent;
    top: 272px;
    left: 120px;
    transform: rotate(12deg);
}


/*battery*/

.battery{
    width: 385px;
    height: 385px;
    /*margin-top: 15px;*/
    background: #288B8B;  
    position: relative; 
    overflow: hidden;
}

.box-battery{
    position: absolute;
    width: 200px;
    height: 95px;
    border: 6px solid white;
    top: 90px;
    left: 82px;
    overflow: hidden;
}

.charge{
    position: absolute;
    width: 40px;
    height: 95px;
    background: orange;
    top: 0px;
    left: 0px;
}

.box-battery1{
    position: absolute;
    width: 20px;
    height: 50px;
    background: white;
    top: 116px;
    left: 289px;
}

.light{
    width: 0px;
    height: 0;
    border-bottom: 100px solid white;
    border-right: 207px solid transparent;
    opacity: 0.2;
}

.plus{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 253px;
    left: 225px;
    border-radius: 100%;
    background: white;
    cursor: pointer;
}

.line-plus{
    width: 45px;
    height: 7px;
    position: absolute;
    top: 30px;
    left: 13px;
    background: #288B8B;
}

.line-plus2{
    width: 7px;
    height: 45px;
    position: absolute;
    top: 12px;
    left: 31px;
    background: #288B8B;
}

.less{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 253px;
    left: 96px;
    border-radius: 100%;
    background: white;
    cursor: pointer;
}

.line-less{
    width: 45px;
    height: 7px;
    position: absolute;
    top: 30px;
    left: 13px;
    background: #288B8B;
}

/* gifchino*/

.gifChino{
    width: 385px;
    height: 385px;
    /*margin-top: 15px;*/
    background: #F6F6E0;
    position: relative; 
    overflow: hidden; 
}
.bloque-chino{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  padding-top: 5%;
  
}

.button-click{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  font-size: 13px;
  
  border: none;
  cursor: pointer;
  border-radius: 3px;
  
}


#anim {
    margin: auto;
    background-image: url("./images/chino-gif3.png");
      width: 350px;
      height: 314px;
      animation: move 1.0s steps(4) infinite; 
    }
  
    @keyframes move {
      100% { background-position: -1400px;}
    }

/*coffee*/

.coffee{
    width: 385px;
    height: 385px;
    /*margin-top: 15px;*/
    background: #F3D9B0;  
    position: relative; 
    overflow: hidden;    
}

.saucer{
    position: absolute;
    top: 125px;
    left: 89px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: #FFF;
    box-shadow: 5px 1px 30px #948296;
    border: 5px solid #FFF;

}

.inner-coffee{
    position: absolute;
    top: 50px;
    left: 45px;
    width: 100px;
    height: 80px;
    border-radius: 100%;
    box-shadow: -10px 10px 60px #948296;
}

.cup {
    position: absolute;
    top: 39px;
    left: 40px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 10px solid #FFF;
    box-shadow: 0 10px 30px #948296;
}

.holder {
    position: absolute;
    top: 215px;
    left: 111px;
    width: 30px;
    height: 30px;
    background-color: #FFF;
    border-radius: 30%;
}

button{
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    font-size: 13px;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    background-color: white;
}

button:focus{
    outline: none;
}

.active{
    background-color: #685044;
    color: white;
}



.choices{
    
    font-size: 42px;
    color: #303030;
    text-align: center;
    padding-top: 10%;   
}


.fluid{
    position: absolute;
    top: 49px;
    left: 50px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #685044;
    box-shadow: inset 0 0 10px #000;
}

.fluid-gradient{
    position: absolute;
    width: 100px;
    height: 100px;
    background: radial-gradient(#A0512D, #fdfdfd);
    opacity: 0.5; 
    border-radius: 100%;
    top: 49px;
    left: 50px;
}

.fluid-shadow{
    position: absolute;
    width: 50px;
    height: 75px;
    background: radial-gradient(#A0512D, #fdfdfd);
    opacity: 0.3;
    border-radius: 100%;
    top: 62px;
    left: 99px;
}


.fluid-light{
    position: absolute;
    width: 13px;
    height: 22px;
    background: white;
    opacity: 0.7;
    border-radius: 100%;
    top: 89px;
    left: 132px;
}


/*elvira*/

.elvira{
    width: 385px;
    height: 385px;
    /*margin-top: 15px;*/
    background: radial-gradient(#fa143a, #550d01);  
    position: relative; 
    cursor:pointer;
    overflow: hidden;
}

.tomb1{
    position: absolute;
    width: 50px;
    height: 50px;
    background: radial-gradient(#550d01 , #000);
    border-radius: 100% 100% 0% 0%;
    top: 249px;
    left: 18px;
    transform: rotate(-20deg);
}

.tomb2{
    position: absolute;
    width: 50px;
    height: 50px;
    background: radial-gradient(#550d01 , #000);
    border-radius: 100% 100% 0% 0%;
    top: 241px;
    left: 283px;
    transform: rotate(13deg);
}

.tomb3{
    position: absolute;
    width: 40px;
    height: 40px;
    background: radial-gradient(#550d01 , #000);
    border-radius: 100% 100% 0% 0%;
    top: 269px;
    left: 312px;
    transform: rotate(13deg);
}

.cloud {
    position: absolute;
    width: 90px;
    height: 90px;
    background: #550d01;
    border-radius: 100%;
    top: 33px;
    left: -24px;
}

.cloud1 {
    position: absolute;
    width: 70px;
    height: 70px;
    background: #550d01;
    border-radius: 100%;
    top: 49px;
    left: 29px;
}

.cloud2 {
    position: absolute;
    width: 40px;
    height: 35px;
    background: #550d01;
    border-radius: 100%;
    top: 96px;
    left: -8px;
}


.moon{
    position: absolute;
    width: 205px;
    height: 205px;
    background: radial-gradient(#fa143a , white);
    border-radius: 100%;
    top: 20px;
    left: 165px;
}

.floor{
    position: absolute;
    width: 484px;
    height: 254px;
    background: #000;
    border-radius: 100%;
    top: 272px;
    left: -51px;
}

.hair-light-elvira{
    position: absolute;
    width: 140px;
    height: 149px;
    background: #555;
    border-radius: 100%;
    top: 109px;
    left: 115px;
}

.hair1-light-elvira{
    position: absolute;
    width: 104px;
    height: 10px;
    background: #555;
    border-radius: 0% 0% 100% 100%;
    top: 107px;
    left: 132px;
}

.hair2-light-elvira{
    position: absolute;
    width: 6px;
    height: 30px;
    background: #555;
    border-radius: 100% 100% 0% 0%;
    top: 80px;
    left: 182px;
}

.hair-elvira{
    position: absolute;
    width: 205px;
    height: 205px;
    background: #000;
    border-radius: 100%;
    top: 43px;
    left: 83px;
}



.face-elvira{
    position: absolute;
    width: 140px;
    height: 140px;
    background: rgb(241, 170, 149);
    border-radius: 100%;
    top: 121px;
    left: 115px;
}

.face-light-elvira{
    position: absolute;
    width: 120px;
    height: 140px;
    background: #F0BEAF;
    border-radius: 100%;
    top: 0px;
    left: 10px;
}

.eye-right-elvira {
    position: absolute;
    top: 187px;
    left: 200px;
    border-radius: 179px 0 203px 0;
    width: 40px;
    height: 18px;
    background: white;
    border: black solid 3px;
}

.ball-eye-right-elvira{
    position: absolute;
    top: 190px;
    left: 212px;
    border-radius: 100%;
    width: 19px;
    height: 18px;
    background: #2090FF;
}

.ball-eye-light-right-elvira {
    position: absolute;
    top: 190px;
    left: 222px;
    border-radius: 100%;
    width: 7px;
    height: 7px;
    background: white;
}

.eye-left-elvira {
    position: absolute;
    top: 187px;
    left: 124px;
    border-radius: 0 179px 0 203px;
    width: 40px;
    height: 18px;
    background: white;
    border: black solid 3px;
}

.ball-eye-left-elvira{
    position: absolute;
    top: 190px;
    left: 139px;
    border-radius: 100%;
    width: 19px;
    height: 18px;
    background: #2090FF;
}

.ball-eye-light-left-elvira {
    position: absolute;
    top: 190px;
    left: 140px;
    border-radius: 100%;
    width: 7px;
    height: 7px;
    background: white;
}

.nose-elvira {
    position: absolute;
    width: 7px;
    height: 5px;
    top: 215px;
    left: 181px;
    border-top: 8px solid #F1AA95;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

.mouth-elvira{
    position: absolute;
    width: 18px;
    height: 7px;
    top: 230px;
    left: 170px;
    background: #fa143a;
    border-radius: 100% 100% 0% 0%;
}

.mouth1-elvira{
    position: absolute;
    width: 18px;
    height: 7px;
    top: 230px;
    left: 186px;
    background: #fa143a;
    border-radius: 100% 100% 0% 0%;
}

.mouth2-elvira{
    position: absolute;
    width: 26px;
    height: 7px;
    top: 235px;
    left: 174px;
    background: radial-gradient(#550d01, #fa143a);
    border-radius: 0% 0% 100% 100%;
}

.fringe-elvira {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 140px;
    height: 58px;
    background: #000;
    border-radius: 100px 100px 0 0;
}



.hair-back-elvira {
    position: absolute;
    top: 95px;
    left: 97px;
    width: 180px;
    height: 241px;
    background: #000;
    border-radius: 37%;
}

.hair-back-light-elvira {
    position: absolute;
    top: 99px;
    left: 95px;
    width: 184px;
    height: 241px;
    background: #555;
    border-radius: 37%;
}

.neck-elvira{
    position: absolute;
    width: 37px;
    height: 54px;
    background: #F0BEAF;
    border-radius: 35%;
    top: 231px;
    left: 168px;
}

.body-elvira{
    position: absolute;
    width: 85px;
    height: 200px;
    /* background: #000; */
    top: 286px;
    left: 115px;
    border-top: 120px solid #000;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;	
}

.neckline-elvira{
    position: absolute;
    /* width: 40px; */
    /* height: 100px; */
    top: 273px;
    left: 146px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 83px solid #F0BEAF;
}

.neckline1-elvira{
    position: absolute;
    top: 318px;
    left: 122px;
    width: 60px;
    height: 58px;
    background: transparent;
    border: 3px solid #000;
    border-color:transparent #000 transparent transparent;
    border-radius: 100%;
}
 .boom-right{
    position: absolute;
    top: 314px;
    left: 113px;
    width: 65px;
    height: 65px;
    background: #000;
    border-radius: 100%;
}

.boom-light-right{
    position: absolute;
    top: 319px;
    left: 111px;
    width: 65px;
    height: 59px;
    background: white;
    border-radius: 100%;
}

.boom-left{
    position: absolute;
    top: 314px;
    left: 194px;
    width: 65px;
    height: 65px;
    background: #000;
    border-radius: 100%;
}

.boom-light-left{
    position: absolute;
    top: 319px;
    left: 196px;
    width: 65px;
    height: 59px;
    background: white;
    border-radius: 100%;
}



/*panda*/
.panda{
    width: 385px;
    height: 385px;
    /*margin-top: 15px;*/
    background-color: #A9EDDA;  
    position: relative; 
    cursor:pointer;
}

.face{
    width: 200px;
    height: 190px;
    border-radius: 100%;
    background: white;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.ear{
    top: 83px;
    left: 85px;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: white;
    position: absolute;
}

.inner{
    top: 9px;
    left: 10px;
    width: 65%;
    height: 67%;
    border-radius: 100%;
    background: #FCB5B5;
    position: absolute;
}

.ear-right{
    transform: translateX(135px);
    top: 83px;
    left: 85px;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: white;
    position: absolute;
}

.inner-right{
    top: 9px;
    left: 16px;
    width: 65%;
    height: 67%;
    border-radius: 100%;
    background: #FCB5B5;
    position: absolute;
}

.black-eye{
    position: absolute;
    width: 45px;
    height: 45px;
    top: 85px;
    left: 50px;
    border-radius: 46%;
   background: #333;

}

.eye{
    position: absolute;
    width: 28px;
    height: 28px;
    top: 94px;
    left: 62px;
   border-radius: 100%;
   background: white;

}

.ball-eye{
    position: absolute;
   width: 12px;
   height: 12px;
   top: 100px;
   left: 66px;
   border-radius: 100%;
   background: #000;
   border: 4px solid rgb(60, 110, 218);
   transition: all 0.3s;
   
}

.light-eye{
    position: absolute;
   width: 10px;
   height: 10px;
   top: 100px;
   left: 66px;
   border-radius: 100%;
   background:white;
}

.black-eye-right{
    transform: translate(60px);
    position: absolute;
    width: 50px;
    height: 48px;
    top: 85px;
    left: 45px;
    border-radius: 46%;
   background: #333;
   transition: all 0.3s;
}

.eye-right{
    transform: translate(48px);
    position: absolute;
    width: 28px;
    height: 28px;
    top: 94px;
    left: 62px;
   border-radius: 100%;
   background: white;

}

.ball-eye-right{
    transform: translate(44px);
    position: absolute;
   width: 12px;
   height: 12px;
   top: 100px;
   left: 70px;
   border-radius: 100%;
   background: #000;
   border: 4px solid rgb(60, 110, 218); 
}

.light-eye-right{
    transform: translate(44px);
    position: absolute;
   width: 10px;
   height: 10px;
   top: 100px;
   left: 70px;
   border-radius: 100%;
   background:white;
}

.snout{
    position: absolute;
    width: 50px;
    height: 45px;
    background: transparent;
    border-radius: 100%;
    top: 110px;
    left: 80px;
}

.nose{
    position: absolute;
    width: 15px;
    height: 7px;
    background: #333;
    border-radius: 100%;
    top: 19px;
    left: 14px;
}

.bridge{
    position: absolute;
    top: 24px;
    left: 21px;
    width: 2px;
    height: 13px;
    background: #333;
}

.mouth{
    position: absolute;
    width: 10px;
    height: 5px;
    border-radius: 0% 0% 100% 100%;
    border-bottom: 2px solid;
    top: 37px;
    left: 17px;
    background: #333;
}

.paci{
    position: absolute;
    width: 27px;
    height: 18px;
    background: #7FB7BE;
    border-radius: 20px;
    top: 35px;
    left: 8px;
}

.mid{
    position: absolute;
    width: 12px;
    height: 12px;
    background: #FCB5B5;
    border-radius: 100%;
    top: 38px;
    left: 16px;
}

.ring{
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 2px solid #FCB5B5;
    top: 42px;
    left: 18px;
    transition: all 0.3s;

}

.panda:hover .ball-eye, 
.panda:hover .ball-eye-right{
    background: #000;
    border: 4px solid #FCB5B5;
}

.panda:hover .ball-eye {
 transform: translateY(-3.5px);
 transform: translateX(-3.5px);
}

.panda:hover .ball-eye-right {
    transform: translateY(41px);
    transform: translateX(41px);
}

.panda:hover .ring{
    transform: translateX(-6px)
}


/*Kid*/

.kid{
    width: 385px;
    height: 385px;
    /*margin-top: 15px;*/
    background-color: #2c3350;  
    position: relative; 
    cursor:pointer;
    position: relative;
}

.circle{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 4px solid #E8E9EB;
    background: white;
    overflow: hidden;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.faceK{
    position: absolute;
    width: 123px;
    height: 150px;
    background: #F0BEAF;
    border-radius: 37%;
    top: 70px;
    left: 90px;
}

.neck{
    position: absolute;
    width: 48px;
    height: 60px;
    background: #F0BEAF;
    border-radius: 100%;
    top: 182px;
    left: 127px;
}

.body{
    position: absolute;
    top: 223px;
    left: 92px;
    width: 115px;
    height: 140px;
    border-radius: 35%;
    background: #2c3350;
}

.earK{
    position: absolute;
    width: 20px;
    height: 25px;
    background: #F0BEAF;
    top: 150px;
    left: 81px;
    border-radius:100%;
}

.earK-right{
    position: absolute;
    width: 20px;
    height: 25px;
    background: #F0BEAF;
    top: 150px;
    left: 202px;
    border-radius:100%;
}

.eyeK{
    position: absolute;
    top: 150px;
    left: 117px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #3498db;
}

.eyebrows{
    position: absolute;
    top: 139px;
    left: 113px;
    width: 20px;
    height: 5px;
    border-radius: 26%;
    background: #424B54;
    transition: all 0.3s;
}

.light-eyeK{
    position: absolute;
    top: 0px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: white;
    transition: all 0.3s;
}

.eyeK-right{
    position: absolute;
    top: 150px;
    left: 173px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #3498db;
}

.eyebrows-right{
    position: absolute;
    top: 139px;
    left: 172px;
    width: 20px;
    height: 5px;
    border-radius: 26%;
    background: #424B54;
    transition: all 0.3s;
}

.light-eyeK-right{
    position: absolute;
    top: 0px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: white;
    transition: all 0.3s;
}

.mouthK{
    position: absolute;
    top: 185px;
    left: 141px;
    width: 25px;
    height: 15px;
    border-radius: 0 0 100px 100px;
    background: #424B54;

}

.tongueK{
    position: absolute;
    top: 192px;
    left: 144px;
    width: 19px;
    height: 8px;
    background: #F6828C;
    border-radius: 100%;
    transition: all 0.3s;
}

.fringeK{
    position: absolute;
    top: 66px;
    left: 89px;
    width: 125px;
    height: 58px;
    background: #424b54;
    border-radius: 100px 100px 0 0;
}

.hairircle{
    position: absolute;
    top: 66px;
    left: 82px;
    width: 138px;
    height: 138px;
    background: #424b54;
    border-radius: 100%;
}

.hairribbon{
    position: absolute;
    top: 55px;
    left: 82px;
    width: 138px;
    height: 138px;
    background: #3498db;
    border-radius: 100%;
}

.hair{
    position: absolute;
    top: 45px;
    left: 64px;
    width: 172px;
    height: 241px;
    background: #424b54;
    border-radius: 37%;
}

.kid:hover .light-eyeK{
    transform: translateY(6px);
    
}

.kid:hover .light-eyeK-right{
    transform: translateY(6px);   
}

.kid:hover .eyebrows{
    transform: translateY(-6px);
    
}

.kid:hover .eyebrows-right{
    transform: translateY(-6px);   
}

.kid:hover .tongueK{
    transform: scaleY(2);   
}

/*burguer*/

.burger{
    width: 385px;
    height: 385px;
    /*margin-top: 15px;*/
    background-color: #778898;  
    position: relative; 
    cursor:pointer;
}
.circle-burger{
    position: absolute;
    top: 55px;
    left: 43px;
    width: 300px;
    height: 300px;
    background: #F3D9B1;
    border-radius: 100%;
}
.bread-top{
    position: absolute;
    width: 180px;
    height: 60px;
    background: #DF7B30;
    box-shadow: inset 0px -12px 15px rgba(68, 68, 68, 0.3);
    top: 113px;
    left: 103px;
    border-radius: 100px 100px 0 0;
}

.sesame-one{
    position: absolute;
    width: 10px;
    height: 2px;
    background: #FFB400;
    top: 9px;
    left: 53px;
    border-radius: 100px 100px 0 0;
}

.sesame-two{
    position: absolute;
    width: 10px;
    height: 3px;
    background: #FFB400;
    top: 17px;
    left: 82px;
    border-radius: 100px 100px 0 0;
}

.sesame-three{
    position: absolute;
    width: 10px;
    height: 2px;
    background: #FFB400;
    top: 9px;
    left: 115px;
    border-radius: 100px 100px 0 0;
}

.tomato{
    position: absolute;
    width: 170px;
    height: 10px;
    background: #E83330;
    top: 177px;
    left: 108px;
    border-radius: 100px; 
}

.light-tomato{
    position: absolute;
    width: 109px;
    height: 4px;
    background: #FFF;
    opacity: 0.2;
    top: 3px;
    left: 57px;
    border-radius: 100px;
}

.onion{
    position: absolute;
    width: 156px;
    height: 12px;
    background: #9E3D6D;
    top: 192px;
    left: 115px; 
}

.light-onion-one{
    position: absolute;
    width: 22px;
    height: 12px;
    background: #FFF;
    opacity: 0.2;
    top: 0;
    left: 98px;
}

.light-onion-two{
    position: absolute;
    width: 8px;
    height: 12px;
    background: #FFF;
    opacity: 0.2;
    top: 0;
    left: 137px;
}

.lettuce{
    position: absolute;
    width: 176px;
    height: 12px;
    top: 208px;
    left: 105px;
    background: #6DA000;
    border-radius: 3px;
}

.light-lettuce-one{
    position: absolute;
    width: 90px;
    height: 4px;
    background: #FFF;
    opacity: 0.2;
    top: 212px;
    left: 183px;
    border-radius: 100px;
}

.light-lettuce-two{
    position: absolute;
    width: 20px;
    height: 4px;
    background: #FFF;
    opacity: 0.2;
    top: 212px;
    left: 183px;
    border-radius: 100px;
}

.chesse{
    position: absolute;
    width: 176px;
    height: 12px;
    top: 226px;
    left: 105px;
    background: #FFB400;
    border-radius: 3px; 
}

.chesse-triangle{
    position: absolute;
    border-top: 40px solid #FFB400;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.melt{
    position: absolute;
    top: -29px;
    left: 93px;
    width: 10px;
    height: 55px;
    background: #FFB400;
    border-radius: 100px;
    animation: 5s melting ease infinite;
}



@keyframes melting{
100% {
    transform: translateY(-7px);
}
}

.melt-one{
    position: absolute;
    top: -34px;
    left: 74px;
    width: 8px;
    height: 40px;
    background: #FFB400;
    border-radius: 100px;
    animation: 5s melting ease infinite;
}

.light-triangle{
    position: absolute;
    top: -35px;
    left: 5px;
    width: 5px;
    height: 30px;
    background: #FFF;
    opacity: 0.5;
    border-radius: 100px;
    transform: rotate(51deg);
}

.meat{
    position: absolute;
    width: 176px;
    height: 26px;
    top: 246px;
    left: 105px;
    background: #9D4845;
    box-shadow: inset -5px -5px 5px rgba(68, 68, 68, 0.3);
    border-radius: 100px;   
}

.bread-bottom{
    position: absolute;
    top: 272px;
    left: 103px;
    width: 180px;
    height: 30px;
    background: #DF7B30;
    box-shadow: inset -11px -12px 15px rgba(68, 68, 68, 0.3);
    border-radius: 0 0 100px 100px;
}



/*.forms{
    width: 90px;
    height: 150px;
    left: 50%;
    background: #3498db;
    top: -10px; 
    border-radius: 10% 10% 70% 70%;
    -webkit-box-shadow: inset 10px 5px 0 -5px #daa520, inset 15px 5px 0 -5px #b01030, inset -10px 5px 0 -5px #daa520, inset -15px 5px 0 -5px #b01030;
}*/



